@import 'layout.scss';
* {
  box-sizing: border-box;
}
.navigation {
  background-color: #ff7f50;
  min-height: 200px;
  display: flex;
  flex: 1;
}
.products-list {
  background-color: #006400;
  min-height: 200px;
  display: flex;
  flex: 1;
}
.news {
  background-color: #0ff;
  min-height: 200px;
  display: flex;
  flex: 1;
}
span {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
}
.products {
  @include for-extra-small {
    display: flex;
    flex-direction: column;

    flex: 2;
  }
}
.content {
  @include for-extra-small {
    display: flex;
    flex-direction: column;
  }
}
.content {
  @include for-medium-up {
    display: flex;
    flex-direction: column;
  }
}
.products {
  @include for-medium-up {
    display: flex;
    flex-direction: row;

    flex: 2;
  }
}
.content {
  @include for-large-med {
    display: flex;
    flex-direction: row;
  }
}
.products {
  @include for-large-med {
    display: flex;
    flex-direction: row;

    flex: 2;
  }
}
